#perspective{
    top: 100px;
    left: 50px;
    width: 500px;
    height: 200px;
    background-color: #ccff00;
    position: absolute;
    -webkit-transform: perspective(500px) rotateY(75deg);
    -moz-transform: perspective(500px) rotateY(75deg);
    -ie-transform: perspective(500px) rotateY(75deg);
    transform: perspective(500px) rotateY(75deg);
}